body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: contain;
}

header {
    background: url(https://res.cloudinary.com/teepublic/image/private/s--fAkqVqr4--/t_Preview/b_rgb:191919,c_lpad,f_jpg,h_630,q_90,w_1200/v1500417072/production/designs/1747927_1.jpg);
    color: #fff;
    text-align: center;
    padding: 1em;
    margin: 0;
    background-size: cover;
    background-position: center;
}

.corazon {
    display: inline-block;
}

main {
    padding: 1em;
    background: color black;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.seccion {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.seccion{
    text-align: center;
    background: url(https://marketplace.canva.com/EAFGUxkeOXw/1/0/900w/canva-papel-de-parede-minimalista-aesthetic-c%C3%A9u-estrelado-hYpHlLwLDzk.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

h2 {
    margin-top: 10px;
    font-size: 1.5em;
    color: goldenrod;
    text-align: center;
}

#seccionFotos .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

#seccionFotos{
    text-align: center;
}

#seccionFotos .topCosasAmo {
    margin-top: 20px;
}

.topCosasAmo {
    list-style: none; 
    padding: 0; 
}

.topCosasAmo li {
    background-color: #f0f0f0; 
    margin: 10px 0; 
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.topCosasAmo li::before {
    content: "\201C"; 
    font-size: 1.5em; 
    color: #ffcc00; 
    margin-right: 5px; 
}


#seccionFrases .frasesList {
    list-style: none;
    padding: 0;
}

#seccionFrases .frasesList li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

#seccionFrases {
    text-align: center; 
}

.frasesList {
    list-style: none; 
    padding: 0; 
}

.frasesList li {
    background-color: #f0f0f0; 
    margin: 10px 0; 
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.frasesList li::before {
    content: "\201C"; 
    font-size: 1.5em; 
    color: #ffcc00; 
    margin-right: 5px; 
}

#seccionRandom {
    text-align: left; 
}

.randomContent {
    margin-top: 20px; 

}

ul {
    list-style-type: none; 
    padding: 0; 
}

li {
    background-color:white; 
    margin: 10px 0; 
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex; 
    align-items: center; 
}

li::before {
    content: "\1F4AB"; 
    font-size: 1.2em; 
    margin-right: 10px;
}


footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: palevioletred; 
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px; 
    text-align: center;
}

a:hover {
    text-decoration: underline; 
}


.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    transition: color 0.5s;
  }

  p{
    color: #ffcc00;
  }