body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://1474899231.rsc.cdn77.org/api/c-wallpaper-image/200/420/798cf1a856f7ab928a300951e53489fb712cc82df427729422926e006d35870eea0628.jpg);
    background-size: cover;
}

header {
    background: url(https://cdn.discordapp.com/attachments/735910437870239826/1153577499352117258/black-background-triangles-design-781b52.jpg?ex=65c1d0c4&is=65af5bc4&hm=3a71d61721b5ef83235ee8d376c47545b26845217e817dcada83f7ee8c40d003&);
    color: #fff;
    text-align: center;
    padding: 1em;
    background-size: cover;
    border-radius: 5px;
}

.logo {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

img {
    border: solid 5px white;
    border-radius: 10px 30px 120px 60px;
  }

div {
    border: 5px solid #ead9b0;
    border-radius: 12px;
  }

  p {
    color: goldenrod;
    font-size: 20px;
  }

  main {
    padding: 1em;
}

.seccion {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.seccion img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.seccion h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.seccion p {
    font-size: 1em;
    color: #555;
}

.seccion a {
    display: block;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}