body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#heart {
    text-align: center;
    font-size: 15em;
    cursor: pointer;
    animation: heartbeat 1s infinite;
    color: red;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

#texto {
    text-align: center;
    font-size: 15em;
    cursor: pointer;
    animation: heartbeat 1s infinite;
    color: red;
}



p{
    color: gold;
}